{% extends 'services/base.html' %}


{% block content %}

{% if user.is_authenticated %}

	<!-- Page Title -->
	<center>

		<h1>Add a Service!</h1>
		<br/><br/>
		
		{% if submitted %}
			Your Service was successfully submitted!

		{% else %}

			<form action="" method=POST enctype="multipart/form-data">
				{% csrf_token %}

				{{ form.as_p }}

				<input type="submit" value="Submit" class="btn btn-secondary">

			</form>
		{% endif %}
	
	</center>

	{% else %}
		<h1>Please login to Add a Service!</h1>
{% endif %}

{% endblock %}